h1 {
    font-family: 'Poppins', sans-serif;
    font-weight: 200;
    text-transform: capitalize;
    text-align: center;
}
#smalltext{
    font-family: 'Poppins', sans-serif;
    font-size: 10px;
    text-align: center;
    text-transform: capitalize;
}
img {
    width:100px;
    height:100px;
    border:3px solid aliceblue;
    border-radius: 50%;
    
}
#bio {
    font-family: 'Poppins', sans-serif;
    font-size: 10px;
    padding-left: 0;
}
#Profile {
    
    display:flex;
    justify-content:center;
    align-items: center;
    gap:10px;
}
div {
    border: 3px solid aliceblue;
    height:150px;
    width:250px;
    margin:3rem;
    background-color: aliceblue;
    border-radius: 1rem;
    
}
div p {
    text-align:center;
    padding: 2rem;
}
#grid {
    display:grid;
    grid-template-columns: repeat(2,1fr);
    gap:2rem;
    justify-content: center;
    font-family: 'Poppins', sans-serif;
}
#hero {
    text-align: left;
}
#grid > div {
    width: 250px;
}
#skills {
    text-align:center;
    font-family: 'Poppins', sans-serif;
}
input {
    display: block;
    width:18em;
    border-radius: 5px;
    border-color: aliceblue;
}
textarea {
    display: block;
    border-radius: 5px;
}
form {
    width:300px;
    margin:2rem auto ;
    display:flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Poppins', sans-serif;
   
}
#contact {
   text-align: center;
   font-family: 'Poppins', sans-serif;
}
input,textarea, button {
    width: 100%;
}
section {
    display:flex;
    flex-direction: column;
    align-items: center;
}
form label {
    text-align: left;
}
button {
    margin-top:1em;
    width:18em;
    height:2em;
    width:100%;
    font-family: 'Poppins', sans-serif;
    background-color: aliceblue;
    border-color: aliceblue;
}
footer {
    text-align: center;
    margin-top:3rem;
}
@media (max-width: 600px) {

    h1 {
        font-size: 1.2rem;
    }

    #smalltext {
        font-size: 9px;
    }

    #Profile {
        flex-direction: column;
        text-align: center;
        gap:2rem;
    }

    #bio {
        padding-left: 0;
        margin-top: 1rem;
    }

    img {
        width: 90px;
        height: 90px;
    }

    #grid {
        grid-template-columns: 1fr;
    }

    div {
        width: 90%;
        margin: 1.5rem auto;
    }

    form {
        width: 90%;
    }

    input,
    textarea,
    button {
        width: 100%;
    }
}
